﻿@model Apoteka.Web.ViewModels.ExternalOrder.MasterDetail

@{
    ViewBag.Title = "External orders";
}

@{ 
    var previous = Math.Max(Model.Current - 1, 0);
    var current = Model.Current;
    var next = Math.Min(Model.Current + 1, Model.Total - 1);
}

<div class="row">
    <div class="col-xs-3">
        <br />
        <div class="row">
            <div class="col-xs-4 center-block">@Html.ActionLink("[<", "Details", new { n = previous }, new { @class = "btn btn-default" })</div>
            <div class="col-xs-4 center-block">@(Model.Current + 1) / @Model.Total</div>
            <div class="col-xs-4 col-xs-pull-right">@Html.ActionLink(">]", "Details", new { n = next }, new { @class = "btn btn-default" })</div>
        </div> <br />
        <div class="center-block">@Html.ActionLink("New", "Create", new { }, new { @class = "btn btn-primary" })</div> <br />
        <div class="center-block">@Html.ActionLink("Edit", "Edit", new { n = current }, new { @class = "btn btn-primary" })</div> <br />
        <div class="center-block">@Html.ActionLink("Delete", "Delete", new { id = Model.Id, prev = previous }, new { @class = "btn btn-danger" })</div> 
    </div>
    <div class="col-xs-9">
        <div id="view-container">
            <h2>External order: @Model.Id</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IssuedOn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IssuedOn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SupplierName)
                </dd>
            </dl>

            <h3>Medicines on order</h3> <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Medicine</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Medicines)
                    {
                        <tr>
                            <td>@m.MedicineName</td>
                            <td>@m.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>