﻿@model Apoteka.Web.ViewModels.ExternalOrder.EditOrder

@{
    ViewBag.Title = "Edit order";
}

@{
    var previous = Math.Max(Model.Current - 1, 0);
    var current = Model.Current;
    var next = Math.Min(Model.Current + 1, Model.Total - 1);

    var _medicines = "";
    foreach (var m in Model.Medicines)
    {
        _medicines += $"<option value=\"{m.Id}\">{m.Name}</option>";
    }

    var medicineSelectList = new SelectList((from e in Model.Medicines
                                             select new SelectListItem
                                             {
                                                 Value = e.Id.ToString(),
                                                 Text = e.ToString(),
                                             }).ToList(), "Value", "Text");
}

<script type="text/javascript">
    var medicineCounter = @Model.MedicineEditors.Count;

    var medicines = '@Html.Raw(_medicines)';
</script>

<div class="row" id="container">
    <div class="col-xs-3">
        <br />
        <div class="row">
            <div class="col-xs-4 center-block">@Html.ActionLink("[<", "Details", new { n = previous }, new { @class = "btn btn-default" })</div>
            <div class="col-xs-4 center-block">@(Model.Current + 1) / @Model.Total</div>
            <div class="col-xs-4 col-xs-pull-right">@Html.ActionLink(">]", "Details", new { n = next }, new { @class = "btn btn-default" })</div>
        </div> <br />
        <div class="center-block">@Html.ActionLink("Cancel", "Details", new { n = current }, new { @class = "btn btn-primary" })</div> <br />
        <div class="center-block"><a class="btn btn-default" id="add-medicine-btn">Add item</a></div>
    </div>
    <div class="col-xs-9">
        <div id="view-container">
            <h2>External order: @Model.Id</h2> <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Current)
                @Html.HiddenFor(m => m.Total)

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.IssuedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IssuedOn, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IssuedOn, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedEmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SelectedEmployeeId, Model.Employees, htmlAttributes: new { @class = "form-control", @id = "employee-selector" })
                            @Html.ValidationMessageFor(model => model.SelectedEmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedSupplierId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SelectedSupplierId, Model.Suppliers, htmlAttributes: new { @class = "form-control", @id = "supplier-selector" })
                            @Html.ValidationMessageFor(model => model.SelectedSupplierId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <h3>Medicines on order</h3> <hr />
                    <table class="table" id="medicine-table">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Medicine</th>
                                <th class="col-xs-5">Amount</th>
                                <th class="col-xs-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(var i = 0; i < Model.MedicineEditors.Count; i++)
                            {
                                var state = Model.MedicineEditors[i].State;
                                var rowClass = state == 'd' ? "danger" : (state == 'e' ? "" : "success");
                                var buttonId = state == 'd' ? "cancel-medicine-btn" : (state == 'e' ? "delete-medicine-btn" : "remove-medicine-btn");

                                <tr class="@rowClass">
                                    <td class="col-xs-6">
                                        @Html.Hidden("MedicineEditors.Index", i)
                                        @Html.HiddenFor(m => m.MedicineEditors[i].Id)
                                        @Html.HiddenFor(m => m.MedicineEditors[i].State)
                                        @Html.DropDownListFor(m => m.MedicineEditors[i].SelectedMedicineId, medicineSelectList, new { @class = "form-control", id = $"medicine-selector[{i}]" })
                                    </td>
                                    <td class="col-xs-5">
                                        @Html.EditorFor(m => m.MedicineEditors[i].Amount, new { htmlAttributes = new { @class = "form-control"} })
                                    </td>
                                    <td class="col-xs-1">
                                        <button type="button" class="btn btn-default" id="@buttonId">Remove</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp; Spremi
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ExternalOrder/Edit.js")
}

<script type="text/javascript">
    document.getElementById("employee-selector").value = @Model.SelectedEmployeeId;
    document.getElementById("supplier-selector").value = @Model.SelectedSupplierId;
</script>

@for (var i = 0; i < Model.MedicineEditors.Count; i++)
{
    var id = "medicine-selector[" + i + "]";
    var value = Model.MedicineEditors[i].SelectedMedicineId;
    <script type="text/javascript">
        document.getElementById("@id").value = @value;
    </script>
}